In [2]:
# Libraries
import pandas as pd 
import numpy as np

In [3]:
# Load dataset

coviddeath = pd.read_excel("CovidDeaths.xlsx")

In [4]:
coviddeath.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845
1,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,128932753.0,66.444,29.3,6.857,4.321,17336.469,2.5,1.38,75.05,0.779
2,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845
3,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,128932753.0,66.444,29.3,6.857,4.321,17336.469,2.5,1.38,75.05,0.779
4,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845

In [5]:
# Understanding data structure
coviddeath.shape
coviddeath.size

3832695

In [6]:
coviddeath.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            85171 non-null  object
 1   continent                           81060 non-null  object
 2   location                            85171 non-null  object
 3   date                                85171 non-null  datetime64[ns]
 4   total_cases                         83072 non-null  float64
 5   new_cases                           83070 non-null  float64
 6   new_cases_smoothed                  82069 non-null  float64
 7   total_deaths                        73408 non-null  float64
 8   new_deaths                          73566 non-null  float64
 9   new_deaths_smoothed                 82069 non-null  float64
 10  total_cases_per_million             82623 non-null  float64
 11  new_cases_per_million               82621 non-null  float64
 12  new_cases_smoothed_per_million      81625 non-null  float64
 13  total_deaths_per_million            72972 non-null  float64
 14  new_deaths_per_million              73130 non-null  float64
 15  new_deaths_smoothed_per_million     81625 non-null  float64
 16  reproduction_rate                   68942 non-null  float64
 17  icu_patients                        8684 non-null   float64
 18  icu_patients_per_million            8684 non-null   float64
 19  hosp_patients                       10814 non-null  float64
 20  hosp_patients_per_million           10814 non-null  float64
 21  weekly_icu_admissions               789 non-null    float64
 22  weekly_icu_admissions_per_million   789 non-null    float64
 23  weekly_hosp_admissions              1295 non-null   float64
 24  weekly_hosp_admissions_per_million  1295 non-null   float64
 25  new_tests                           38945 non-null  float64
 26  total_tests                         38652 non-null  float64
 27  total_tests_per_thousand            38652 non-null  float64
 28  new_tests_per_thousand              38945 non-null  float64
 29  new_tests_smoothed                  44625 non-null  float64
 30  new_tests_smoothed_per_thousand     44625 non-null  float64
 31  positive_rate                       42904 non-null  float64
 32  tests_per_case                      42311 non-null  float64
 33  tests_units                         46079 non-null  object
 34  stringency_index                    72207 non-null  float64
 35  population                          84622 non-null  float64
 36  population_density                  79274 non-null  float64
 37  median_age                          76706 non-null  float64
 38  aged_65_older                       75830 non-null  float64
 39  aged_70_older                       76276 non-null  float64
 40  gdp_per_capita                      77046 non-null  float64
 41  extreme_poverty                     52449 non-null  float64
 42  hospital_beds_per_thousand          70847 non-null  float64
 43  life_expectancy                     80833 non-null  float64
 44  human_development_index             77517 non-null  float64
dtypes: datetime64[ns](1), float64(40), object(4)
memory usage: 29.2+ MB

In [7]:
coviddeath.describe

<bound method NDFrame.describe of        iso_code      continent   location       date  total_cases  new_cases  \
0           ARG  South America  Argentina 2020-01-01          NaN        NaN
1           MEX  North America     Mexico 2020-01-01          NaN        NaN
2           ARG  South America  Argentina 2020-01-02          NaN        NaN
3           MEX  North America     Mexico 2020-01-02          NaN        NaN
4           ARG  South America  Argentina 2020-01-03          NaN        NaN
...         ...            ...        ...        ...          ...        ...
85166       VNM           Asia    Vietnam 2021-04-30       2928.0       18.0
85167  OWID_WRL            NaN      World 2021-04-30  151399480.0   879014.0
85168       YEM           Asia      Yemen 2021-04-30       6317.0       23.0
85169       ZMB         Africa     Zambia 2021-04-30      91586.0       53.0
85170       ZWE         Africa   Zimbabwe 2021-04-30      38257.0       22.0

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                     NaN           NaN         NaN                  NaN  ...
1                     NaN           NaN         NaN                  NaN  ...
2                     NaN           NaN         NaN                  NaN  ...
3                     NaN           NaN         NaN                  NaN  ...
4                     NaN           NaN         NaN                  NaN  ...
...                   ...           ...         ...                  ...  ...
85166              14.000          35.0         0.0                0.000  ...
85167          822723.714     3180238.0     14573.0            13431.571  ...
85168              37.286        1226.0         4.0                8.714  ...
85169              47.857        1251.0         1.0                0.857  ...
85170              30.286        1567.0         0.0                1.571  ...

         population  population_density  median_age  aged_65_older  \
0      4.519578e+07              16.177        31.9         11.198
1      1.289328e+08              66.444        29.3          6.857
2      4.519578e+07              16.177        31.9         11.198
3      1.289328e+08              66.444        29.3          6.857
4      4.519578e+07              16.177        31.9         11.198
...             ...                 ...         ...            ...
85166  9.733858e+07             308.127        32.6          7.150
85167  7.794799e+09              58.045        30.9          8.696
85168  2.982597e+07              53.508        20.3          2.922
85169  1.838396e+07              22.995        17.7          2.480
85170  1.486293e+07              42.729        19.6          2.822

       aged_70_older  gdp_per_capita  extreme_poverty  \
0              7.441       18933.907              0.6
1              4.321       17336.469              2.5
2              7.441       18933.907              0.6
3              4.321       17336.469              2.5
4              7.441       18933.907              0.6
...              ...             ...              ...
85166          4.718        6171.884              2.0
85167          5.355       15469.207             10.0
85168          1.583        1479.147             18.8
85169          1.542        3689.251             57.5
85170          1.882        1899.775             21.4

       hospital_beds_per_thousand  life_expectancy  human_development_index
0                           5.000            76.67                    0.845
1                           1.380            75.05                    0.779
2                           5.000            76.67                    0.845
3                           1.380            75.05                    0.779
4                           5.000            76.67                    0.845
...                           ...              ...                      ...
85166                       2.600            75.40                    0.704
85167                       2.705            72.58                    0.737
85168                       0.700            66.12                    0.470
85169                       2.000            63.89                    0.584
85170                       1.700            61.49                    0.571

[85171 rows x 45 columns]>

In [8]:
# Data cleaning

# defining the list of columns to keep 
columns_to_keep = [
    'continent', 'location', 'date',
    'total_cases', 'new_cases',
    'total_deaths', 'new_deaths',
    'total_cases_per_million', 'new_cases_per_million',
    'total_deaths_per_million', 'new_deaths_per_million',
    'population', 'median_age',
    'aged_65_older', 'aged_70_older',
    'extreme_poverty', 'hospital_beds_per_thousand'
]

In [9]:
#new_covid  = covid_death_df[columns_to_keep].copy

new_dataset = coviddeath[columns_to_keep].copy()

In [10]:
new_dataset.head(20)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,population,median_age,aged_65_older,aged_70_older,extreme_poverty,hospital_beds_per_thousand
0,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
1,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
2,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
3,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
4,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
5,North America,Mexico,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
6,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
7,North America,Mexico,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
8,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69799978.0,40.1,11.373,6.890,0.1,2.10
9,South America,Argentina,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
10,North America,Mexico,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
11,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69799978.0,40.1,11.373,6.890,0.1,2.10
12,South America,Argentina,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
13,North America,Mexico,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
14,South America,Peru,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32971846.0,29.1,7.151,4.455,3.5,1.60
15,Asia,Thailand,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69799978.0,40.1,11.373,6.890,0.1,2.10
16,South America,Argentina,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
17,North America,Mexico,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
18,South America,Peru,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32971846.0,29.1,7.151,4.455,3.5,1.60
19,Asia,Thailand,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69799978.0,40.1,11.373,6.890,0.1,2.10

In [11]:
# Handling missing values
# Fill missing values in continent with "unknown" and replacing missing case/death counts with 0 per country

new_dataset ['continent'] = new_dataset['continent'].fillna('Unknown')

In [12]:
new_dataset

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,population,median_age,aged_65_older,aged_70_older,extreme_poverty,hospital_beds_per_thousand
0,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.519578e+07,31.9,11.198,7.441,0.6,5.000
1,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.289328e+08,29.3,6.857,4.321,2.5,1.380
2,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.519578e+07,31.9,11.198,7.441,0.6,5.000
3,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.289328e+08,29.3,6.857,4.321,2.5,1.380
4,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.519578e+07,31.9,11.198,7.441,0.6,5.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85166,Asia,Vietnam,2021-04-30,2928.0,18.0,35.0,0.0,30.081,0.185,0.360,0.000,9.733858e+07,32.6,7.150,4.718,2.0,2.600
85167,Unknown,World,2021-04-30,151399480.0,879014.0,3180238.0,14573.0,19423.142,112.769,407.995,1.870,7.794799e+09,30.9,8.696,5.355,10.0,2.705
85168,Asia,Yemen,2021-04-30,6317.0,23.0,1226.0,4.0,211.795,0.771,41.105,0.134,2.982597e+07,20.3,2.922,1.583,18.8,0.700
85169,Africa,Zambia,2021-04-30,91586.0,53.0,1251.0,1.0,4981.844,2.883,68.048,0.054,1.838396e+07,17.7,2.480,1.542,57.5,2.000
85170,Africa,Zimbabwe,2021-04-30,38257.0,22.0,1567.0,0.0,2573.988,1.480,105.430,0.000,1.486293e+07,19.6,2.822,1.882,21.4,1.700

In [13]:
# removing pseudo locations from the dataset

new_dataset = new_dataset[~new_dataset['location'].isin(['International', 'OWID_INT'])]

In [14]:
# Drop any rows where population is missing
new_dataset = new_dataset.dropna(subset=['population'])
# Drop any rows where population is missing
new_dataset['population'].isnull().sum()

np.int64(0)

In [15]:
new_dataset.head(5)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,population,median_age,aged_65_older,aged_70_older,extreme_poverty,hospital_beds_per_thousand
0,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
1,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
2,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00
3,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128932753.0,29.3,6.857,4.321,2.5,1.38
4,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45195777.0,31.9,11.198,7.441,0.6,5.00

In [16]:
# fill raw values into cases/deaths

new_cols = ['total_cases', 'new_cases', 'total_deaths', 'new_deaths']

# Step 1: Fill raw cases/deaths
case_cols = ['total_cases', 'new_cases', 'total_deaths', 'new_deaths']
new_dataset[case_cols] = new_dataset.groupby('location')[case_cols].transform(lambda x: x.fillna(0))

# Step 2: Recompute per-million rates from filled raw values
new_dataset['total_cases_per_million']   = new_dataset['total_cases'] / new_dataset['population'] * 1e6
new_dataset['new_cases_per_million']     = new_dataset['new_cases'] / new_dataset['population'] * 1e6
new_dataset['total_deaths_per_million']  = new_dataset['total_deaths'] / new_dataset['population'] * 1e6
new_dataset['new_deaths_per_million']    = new_dataset['new_deaths'] / new_dataset['population'] * 1e6

# Step 3: Ensure no NaNs remain in per-million fields
per_million_cols = [
    'total_cases_per_million', 'new_cases_per_million',
    'total_deaths_per_million', 'new_deaths_per_million'
]
new_dataset[per_million_cols] = new_dataset[per_million_cols].fillna(0)

In [17]:
new_dataset.isnull().sum()

continent                         0
location                          0
date                              0
total_cases                       0
new_cases                         0
total_deaths                      0
new_deaths                        0
total_cases_per_million           0
new_cases_per_million             0
total_deaths_per_million          0
new_deaths_per_million            0
population                        0
median_age                     7916
aged_65_older                  8792
aged_70_older                  8346
extreme_poverty               32173
hospital_beds_per_thousand    13775
dtype: int64

In [18]:
new_dataset.shape

(84622, 17)

In [19]:
# Using imputation methods for driver cols

driver_cols = ['median_age', 'aged_65_older', 'aged_70_older', 'extreme_poverty', 'hospital_beds_per_thousand']

# compute continent level means
# Compute continent-level means
continent_means = new_dataset.groupby('continent')[driver_cols].transform('mean')

# Fill missing values with those means
df_imputed = new_dataset.copy()
for col in driver_cols:
    df_imputed[col] = df_imputed[col].fillna(continent_means[col])

In [20]:
df_imputed

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,population,median_age,aged_65_older,aged_70_older,extreme_poverty,hospital_beds_per_thousand
0,South America,Argentina,2020-01-01,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,4.519578e+07,31.9,11.198,7.441,0.6,5.000
1,North America,Mexico,2020-01-01,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.289328e+08,29.3,6.857,4.321,2.5,1.380
2,South America,Argentina,2020-01-02,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,4.519578e+07,31.9,11.198,7.441,0.6,5.000
3,North America,Mexico,2020-01-02,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.289328e+08,29.3,6.857,4.321,2.5,1.380
4,South America,Argentina,2020-01-03,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,4.519578e+07,31.9,11.198,7.441,0.6,5.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85166,Asia,Vietnam,2021-04-30,2928.0,18.0,35.0,0.0,30.080569,0.184922,0.359570,0.000000,9.733858e+07,32.6,7.150,4.718,2.0,2.600
85167,Unknown,World,2021-04-30,151399480.0,879014.0,3180238.0,14573.0,19423.141670,112.769300,407.994884,1.869580,7.794799e+09,30.9,8.696,5.355,10.0,2.705
85168,Asia,Yemen,2021-04-30,6317.0,23.0,1226.0,4.0,211.795305,0.771140,41.105120,0.134111,2.982597e+07,20.3,2.922,1.583,18.8,0.700
85169,Africa,Zambia,2021-04-30,91586.0,53.0,1251.0,1.0,4981.843951,2.882949,68.048466,0.054395,1.838396e+07,17.7,2.480,1.542,57.5,2.000
85170,Africa,Zimbabwe,2021-04-30,38257.0,22.0,1567.0,0.0,2573.988286,1.480193,105.430108,0.000000,1.486293e+07,19.6,2.822,1.882,21.4,1.700

In [21]:
df_imputed.isnull().sum()

continent                     0
location                      0
date                          0
total_cases                   0
new_cases                     0
total_deaths                  0
new_deaths                    0
total_cases_per_million       0
new_cases_per_million         0
total_deaths_per_million      0
new_deaths_per_million        0
population                    0
median_age                    0
aged_65_older                 0
aged_70_older                 0
extreme_poverty               0
hospital_beds_per_thousand    0
dtype: int64

In [22]:
# Final checks before moving to EDA

df_imputed.dtypes

continent                             object
location                              object
date                          datetime64[ns]
total_cases                          float64
new_cases                            float64
total_deaths                         float64
new_deaths                           float64
total_cases_per_million              float64
new_cases_per_million                float64
total_deaths_per_million             float64
new_deaths_per_million               float64
population                           float64
median_age                           float64
aged_65_older                        float64
aged_70_older                        float64
extreme_poverty                      float64
hospital_beds_per_thousand           float64
dtype: object

In [24]:
# Removing duplicates
df_imputed.duplicated(subset=['location','date']).sum()  # should be 0

np.int64(0)

In [27]:
# Checking for negatives

# Zero-floor negative daily counts
df_imputed['new_cases']  = df_imputed['new_cases'].clip(lower=0)
df_imputed['new_deaths'] = df_imputed['new_deaths'].clip(lower=0)

# Then recalculate per-million rates
df_imputed['new_cases_per_million']  = df_imputed['new_cases']  / df_imputed['population'] * 1e6
df_imputed['new_deaths_per_million'] = df_imputed['new_deaths'] / df_imputed['population'] * 1e6

(df_imputed[['new_cases','new_deaths','new_deaths_per_million']] < 0).sum()

new_cases                 0
new_deaths                0
new_deaths_per_million    0
dtype: int64

In [29]:
# Sort by country (location) and then by date, and reset the row index
df_imputed = df_imputed.sort_values(['location', 'date']).reset_index(drop=True)

In [ ]:
df_imputed
# data wrangling completed

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,population,median_age,aged_65_older,aged_70_older,extreme_poverty,hospital_beds_per_thousand
0,Asia,Afghanistan,2020-02-24,1.0,1.0,0.0,0.0,0.025688,0.025688,0.000000,0.000000,38928341.0,18.6,2.581,1.337,5.626198,0.5
1,Asia,Afghanistan,2020-02-25,1.0,0.0,0.0,0.0,0.025688,0.000000,0.000000,0.000000,38928341.0,18.6,2.581,1.337,5.626198,0.5
2,Asia,Afghanistan,2020-02-26,1.0,0.0,0.0,0.0,0.025688,0.000000,0.000000,0.000000,38928341.0,18.6,2.581,1.337,5.626198,0.5
3,Asia,Afghanistan,2020-02-27,1.0,0.0,0.0,0.0,0.025688,0.000000,0.000000,0.000000,38928341.0,18.6,2.581,1.337,5.626198,0.5
4,Asia,Afghanistan,2020-02-28,1.0,0.0,0.0,0.0,0.025688,0.000000,0.000000,0.000000,38928341.0,18.6,2.581,1.337,5.626198,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84617,Africa,Zimbabwe,2021-04-26,38102.0,16.0,1560.0,3.0,2563.559654,1.076504,104.959138,0.201844,14862927.0,19.6,2.822,1.882,21.400000,1.7
84618,Africa,Zimbabwe,2021-04-27,38164.0,62.0,1565.0,5.0,2567.731107,4.171453,105.295545,0.336407,14862927.0,19.6,2.822,1.882,21.400000,1.7
84619,Africa,Zimbabwe,2021-04-28,38191.0,27.0,1565.0,0.0,2569.547708,1.816600,105.295545,0.000000,14862927.0,19.6,2.822,1.882,21.400000,1.7
84620,Africa,Zimbabwe,2021-04-29,38235.0,44.0,1567.0,2.0,2572.508093,2.960386,105.430108,0.134563,14862927.0,19.6,2.822,1.882,21.400000,1.7
84621,Africa,Zimbabwe,2021-04-30,38257.0,22.0,1567.0,0.0,2573.988286,1.480193,105.430108,0.000000,14862927.0,19.6,2.822,1.882,21.400000,1.7