In [2]:
# importing necessary libraries
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from plotly.subplots import make_subplots
from datetime import datetime

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/opt/anaconda3/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 701, in start
    self.io_loop.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 1987, in _run_once
    handle._run()
  File "/opt/anaconda3/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 429, in dispatch_shell
    await result
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/3c/q81wwlcs74v7654b041q6trc0000gn/T/ipykernel_6330/3482138519.py", line 2, in <module>
    import pandas as pd
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/__init__.py", line 26, in <module>
    from pandas.compat import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/compat/__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/compat/pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "/opt/anaconda3/lib/python3.12/site-packages/pyarrow/__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/opt/anaconda3/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 701, in start
    self.io_loop.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 1987, in _run_once
    handle._run()
  File "/opt/anaconda3/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 429, in dispatch_shell
    await result
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/3c/q81wwlcs74v7654b041q6trc0000gn/T/ipykernel_6330/3482138519.py", line 2, in <module>
    import pandas as pd
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/dtypes/dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pyarrow/__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/opt/anaconda3/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 701, in start
    self.io_loop.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 1987, in _run_once
    handle._run()
  File "/opt/anaconda3/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 429, in dispatch_shell
    await result
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/3c/q81wwlcs74v7654b041q6trc0000gn/T/ipykernel_6330/3482138519.py", line 2, in <module>
    import pandas as pd
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/arrays/arrow/array.py", line 50, in <module>
    from pandas.core import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/ops/__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/ops/array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/computation/expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/computation/check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/opt/anaconda3/lib/python3.12/importlib/__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/opt/anaconda3/lib/python3.12/site-packages/numexpr/__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/opt/anaconda3/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 701, in start
    self.io_loop.start()
  File "/opt/anaconda3/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/opt/anaconda3/lib/python3.12/asyncio/base_events.py", line 1987, in _run_once
    handle._run()
  File "/opt/anaconda3/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 429, in dispatch_shell
    await result
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/3c/q81wwlcs74v7654b041q6trc0000gn/T/ipykernel_6330/3482138519.py", line 2, in <module>
    import pandas as pd
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/arrays/arrow/array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/arrays/masked.py", line 60, in <module>
    from pandas.core import (
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/opt/anaconda3/lib/python3.12/importlib/__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/opt/anaconda3/lib/python3.12/site-packages/bottleneck/__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

In [3]:
#importing datasets
covid_df = pd.read_excel("CovidDeaths.xlsx")
vaccine_df = pd.read_excel("CovidVaccinations.xlsx")

In [4]:
# Understanding the dataset structure

covid_df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845
1,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,128932753.0,66.444,29.3,6.857,4.321,17336.469,2.5,1.38,75.05,0.779
2,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845
3,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,128932753.0,66.444,29.3,6.857,4.321,17336.469,2.5,1.38,75.05,0.779
4,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845
5,MEX,North America,Mexico,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,128932753.0,66.444,29.3,6.857,4.321,17336.469,2.5,1.38,75.05,0.779
6,ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845
7,MEX,North America,Mexico,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,128932753.0,66.444,29.3,6.857,4.321,17336.469,2.5,1.38,75.05,0.779
8,THA,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,69799978.0,135.132,40.1,11.373,6.890,16277.671,0.1,2.10,77.15,0.777
9,ARG,South America,Argentina,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,45195777.0,16.177,31.9,11.198,7.441,18933.907,0.6,5.00,76.67,0.845

In [5]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            85171 non-null  object
 1   continent                           81060 non-null  object
 2   location                            85171 non-null  object
 3   date                                85171 non-null  datetime64[ns]
 4   total_cases                         83072 non-null  float64
 5   new_cases                           83070 non-null  float64
 6   new_cases_smoothed                  82069 non-null  float64
 7   total_deaths                        73408 non-null  float64
 8   new_deaths                          73566 non-null  float64
 9   new_deaths_smoothed                 82069 non-null  float64
 10  total_cases_per_million             82623 non-null  float64
 11  new_cases_per_million               82621 non-null  float64
 12  new_cases_smoothed_per_million      81625 non-null  float64
 13  total_deaths_per_million            72972 non-null  float64
 14  new_deaths_per_million              73130 non-null  float64
 15  new_deaths_smoothed_per_million     81625 non-null  float64
 16  reproduction_rate                   68942 non-null  float64
 17  icu_patients                        8684 non-null   float64
 18  icu_patients_per_million            8684 non-null   float64
 19  hosp_patients                       10814 non-null  float64
 20  hosp_patients_per_million           10814 non-null  float64
 21  weekly_icu_admissions               789 non-null    float64
 22  weekly_icu_admissions_per_million   789 non-null    float64
 23  weekly_hosp_admissions              1295 non-null   float64
 24  weekly_hosp_admissions_per_million  1295 non-null   float64
 25  new_tests                           38945 non-null  float64
 26  total_tests                         38652 non-null  float64
 27  total_tests_per_thousand            38652 non-null  float64
 28  new_tests_per_thousand              38945 non-null  float64
 29  new_tests_smoothed                  44625 non-null  float64
 30  new_tests_smoothed_per_thousand     44625 non-null  float64
 31  positive_rate                       42904 non-null  float64
 32  tests_per_case                      42311 non-null  float64
 33  tests_units                         46079 non-null  object
 34  stringency_index                    72207 non-null  float64
 35  population                          84622 non-null  float64
 36  population_density                  79274 non-null  float64
 37  median_age                          76706 non-null  float64
 38  aged_65_older                       75830 non-null  float64
 39  aged_70_older                       76276 non-null  float64
 40  gdp_per_capita                      77046 non-null  float64
 41  extreme_poverty                     52449 non-null  float64
 42  hospital_beds_per_thousand          70847 non-null  float64
 43  life_expectancy                     80833 non-null  float64
 44  human_development_index             77517 non-null  float64
dtypes: datetime64[ns](1), float64(40), object(4)
memory usage: 29.2+ MB

In [6]:
#statistical data exploration
covid_df.describe()

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,hospital_beds_per_thousand,life_expectancy,human_development_index
count,85171,8.307200e+04,83070.000000,82069.00000,7.340800e+04,73566.000000,82069.000000,82623.000000,82621.000000,81625.000000,...,8.462200e+04,79274.000000,76706.000000,75830.000000,76276.000000,77046.000000,52449.000000,70847.000000,80833.000000,77517.000000
mean,2020-10-02 18:15:29.978513664,8.250083e+05,5808.325352,5780.94148,2.300409e+04,139.052606,122.992577,10062.094271,74.337193,74.307323,...,1.284213e+08,349.043245,30.522465,8.773478,5.557222,19138.882312,13.348729,3.029584,73.165416,0.727123
min,2020-01-01 00:00:00,1.000000e+00,-74347.000000,-6223.00000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2153.437000,-276.825000,...,8.090000e+02,0.137000,15.100000,1.144000,0.526000,661.240000,0.100000,0.100000,53.280000,0.394000
25%,2020-06-18 00:00:00,9.300000e+02,2.000000,6.85700,4.500000e+01,0.000000,0.000000,202.464000,0.190000,1.153000,...,2.416664e+06,36.253000,22.000000,3.441000,2.043000,4466.507000,0.500000,1.300000,67.920000,0.602000
50%,2020-10-05 00:00:00,1.042250e+04,70.000000,85.57100,3.150000e+02,2.000000,1.286000,1383.968000,7.643000,10.047000,...,1.009927e+07,82.805000,29.700000,6.378000,3.871000,12951.839000,2.200000,2.400000,74.530000,0.748000
75%,2021-01-21 00:00:00,1.105940e+05,764.000000,792.85700,3.045000e+03,18.000000,13.571000,9898.760000,67.692000,75.369000,...,3.691056e+07,208.354000,39.100000,14.178000,8.678000,27216.445000,21.200000,3.861000,78.730000,0.848000
max,2021-04-30 00:00:00,1.513995e+08,905992.000000,826374.28600,3.180238e+06,17906.000000,14435.143000,171254.773000,8652.658000,2648.773000,...,7.794799e+09,20546.766000,48.200000,27.049000,18.493000,116935.600000,77.600000,13.800000,86.750000,0.957000
std,NaN,5.705959e+06,36285.123205,35533.79070,1.360297e+05,758.882229,693.391638,19295.833152,175.740570,149.026786,...,6.904393e+08,1699.215916,9.114990,6.224095,4.248993,19821.321091,19.942984,2.463559,7.549526,0.150057

In [7]:
vaccine_df.head(7)

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ARG,South America,Argentina,2020-01-01,1.0,1.0,0.000,0.000,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
1,MEX,North America,Mexico,2020-01-01,26.0,26.0,0.000,0.000,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
2,ARG,South America,Argentina,2020-01-02,36.0,37.0,0.001,0.001,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
3,MEX,North America,Mexico,2020-01-02,72.0,98.0,0.001,0.001,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
4,ARG,South America,Argentina,2020-01-03,4.0,41.0,0.001,0.000,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
5,MEX,North America,Mexico,2020-01-03,89.0,187.0,0.001,0.001,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
6,ARG,South America,Argentina,2020-01-04,65.0,106.0,0.002,0.001,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845

In [8]:
# Data Cleaning/ Preprocessing

# Removing unecessary columns from the CovidDeaths dataset
# Kept only the 8 relevant columns

keep = [
    'continent', 'location', 'date', 'total_cases', 'new_cases', 'total_deaths',
    'new_deaths', 'population'
        ]
covid_df = covid_df[keep].copy()

In [9]:
covid_df.head(20)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,45195777.0
1,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,128932753.0
2,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,45195777.0
3,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,128932753.0
4,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,45195777.0
5,North America,Mexico,2020-01-03,NaN,NaN,NaN,NaN,128932753.0
6,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,45195777.0
7,North America,Mexico,2020-01-04,NaN,NaN,NaN,NaN,128932753.0
8,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,69799978.0
9,South America,Argentina,2020-01-05,NaN,NaN,NaN,NaN,45195777.0
10,North America,Mexico,2020-01-05,NaN,NaN,NaN,NaN,128932753.0
11,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,69799978.0
12,South America,Argentina,2020-01-06,NaN,NaN,NaN,NaN,45195777.0
13,North America,Mexico,2020-01-06,NaN,NaN,NaN,NaN,128932753.0
14,South America,Peru,2020-01-06,NaN,NaN,NaN,NaN,32971846.0
15,Asia,Thailand,2020-01-06,NaN,NaN,NaN,NaN,69799978.0
16,South America,Argentina,2020-01-07,NaN,NaN,NaN,NaN,45195777.0
17,North America,Mexico,2020-01-07,NaN,NaN,NaN,NaN,128932753.0
18,South America,Peru,2020-01-07,NaN,NaN,NaN,NaN,32971846.0
19,Asia,Thailand,2020-01-07,NaN,NaN,NaN,NaN,69799978.0

In [10]:
# Changing date format 
covid_df['date'] = pd.to_datetime(covid_df['date'], format = '%Y-%M-%D')

In [11]:
covid_df.head(15)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,45195777.0
1,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,128932753.0
2,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,45195777.0
3,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,128932753.0
4,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,45195777.0
5,North America,Mexico,2020-01-03,NaN,NaN,NaN,NaN,128932753.0
6,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,45195777.0
7,North America,Mexico,2020-01-04,NaN,NaN,NaN,NaN,128932753.0
8,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,69799978.0
9,South America,Argentina,2020-01-05,NaN,NaN,NaN,NaN,45195777.0
10,North America,Mexico,2020-01-05,NaN,NaN,NaN,NaN,128932753.0
11,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,69799978.0
12,South America,Argentina,2020-01-06,NaN,NaN,NaN,NaN,45195777.0
13,North America,Mexico,2020-01-06,NaN,NaN,NaN,NaN,128932753.0
14,South America,Peru,2020-01-06,NaN,NaN,NaN,NaN,32971846.0

In [12]:
# Removing null values 
covid_death = covid_df.dropna()
vaccine = vaccine_df.dropna()

In [13]:

covid_death.sort_values(
    by= ['location', 'date'],
    ascending= [True, True],
    inplace= True
)

/var/folders/3c/q81wwlcs74v7654b041q6trc0000gn/T/ipykernel_6330/2891586701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_death.sort_values(

In [14]:
# Exploratory Data Analysis

#Calculate death percentage
#covid_deaths['death_percentage'] = covid_deaths['total_deaths']/ covid_deaths['total_cases'] *100

covid_death['death_percentage'] = covid_death['total_deaths'] / covid_death['total_cases']

covid_death.head(10)

/var/folders/3c/q81wwlcs74v7654b041q6trc0000gn/T/ipykernel_6330/2251585551.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_death['death_percentage'] = covid_death['total_deaths'] / covid_death['total_cases']

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,death_percentage
4420,Asia,Afghanistan,2020-03-22,34.0,4.0,1.0,1.0,38928341.0,0.029412
4598,Asia,Afghanistan,2020-03-23,41.0,7.0,1.0,0.0,38928341.0,0.024390
4777,Asia,Afghanistan,2020-03-24,43.0,2.0,1.0,0.0,38928341.0,0.023256
4957,Asia,Afghanistan,2020-03-25,76.0,33.0,2.0,1.0,38928341.0,0.026316
5140,Asia,Afghanistan,2020-03-26,80.0,4.0,3.0,1.0,38928341.0,0.037500
5323,Asia,Afghanistan,2020-03-27,91.0,11.0,3.0,0.0,38928341.0,0.032967
5507,Asia,Afghanistan,2020-03-28,107.0,16.0,4.0,1.0,38928341.0,0.037383
5691,Asia,Afghanistan,2020-03-29,118.0,11.0,4.0,0.0,38928341.0,0.033898
5876,Asia,Afghanistan,2020-03-30,146.0,28.0,4.0,0.0,38928341.0,0.027397
6062,Asia,Afghanistan,2020-03-31,175.0,29.0,4.0,0.0,38928341.0,0.022857

In [15]:
# Percentage population effected

covid_death['percent_population_infected'] = covid_death['total_cases']/covid_death['population']

covid_death

/var/folders/3c/q81wwlcs74v7654b041q6trc0000gn/T/ipykernel_6330/2573006854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_death['percent_population_infected'] = covid_death['total_cases']/covid_death['population']

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,death_percentage,percent_population_infected
4420,Asia,Afghanistan,2020-03-22,34.0,4.0,1.0,1.0,38928341.0,0.029412,8.733997e-07
4598,Asia,Afghanistan,2020-03-23,41.0,7.0,1.0,0.0,38928341.0,0.024390,1.053217e-06
4777,Asia,Afghanistan,2020-03-24,43.0,2.0,1.0,0.0,38928341.0,0.023256,1.104594e-06
4957,Asia,Afghanistan,2020-03-25,76.0,33.0,2.0,1.0,38928341.0,0.026316,1.952305e-06
5140,Asia,Afghanistan,2020-03-26,80.0,4.0,3.0,1.0,38928341.0,0.037500,2.055058e-06
...,...,...,...,...,...,...,...,...,...,...
84343,Africa,Zimbabwe,2021-04-26,38102.0,16.0,1560.0,3.0,14862927.0,0.040943,2.563560e-03
84551,Africa,Zimbabwe,2021-04-27,38164.0,62.0,1565.0,5.0,14862927.0,0.041007,2.567731e-03
84759,Africa,Zimbabwe,2021-04-28,38191.0,27.0,1565.0,0.0,14862927.0,0.040978,2.569548e-03
84966,Africa,Zimbabwe,2021-04-29,38235.0,44.0,1567.0,2.0,14862927.0,0.040983,2.572508e-03
85170,Africa,Zimbabwe,2021-04-30,38257.0,22.0,1567.0,0.0,14862927.0,0.040960,2.573988e-03

In [16]:
# Country level max infection and infection rate 
# Finding each country's worst outbreak day and then converting that number 
#into a percent of it's population

# Group data by country
max_inf = (
covid_death.groupby(['location', 'population'], as_index= False)
['total_cases'].max()
)
max_inf['max_percent_pop_infected'] = max_inf['total_cases']/ max_inf['population'] * 100

max_inf

        location  population  total_cases  max_percent_pop_infected
0    Afghanistan  38928341.0      59745.0                  0.153474
1        Albania   2877800.0     131085.0                  4.555042
2        Algeria  43851043.0     122108.0                  0.278461
3        Andorra     77265.0      13232.0                 17.125477
4         Angola  32866268.0      26652.0                  0.081092
..           ...         ...          ...                       ...
177    Venezuela  28435943.0     197683.0                  0.695187
178      Vietnam  97338583.0       2928.0                  0.003008
179        Yemen  29825968.0       6317.0                  0.021180
180       Zambia  18383956.0      91586.0                  0.498184
181     Zimbabwe  14862927.0      38257.0                  0.257399

[182 rows x 4 columns]

In [17]:
# Calculating country level max deaths

max_death = (
    covid_death.groupby(['location'], as_index= False)
    ['total_deaths'].max()
    )

max_death

# Top 1 country by max deaths
highest = max_death.nlargest(1, 'total_deaths')
print(highest)

# Bottom 1 country by max deaths
lowest  = max_death.nsmallest(1, 'total_deaths')
print(lowest)

          location  total_deaths
173  United States      576232.0
   location  total_deaths
19   Bhutan           1.0

In [18]:
# Continent level max infection

import pandas as pd

# 1. Compute peak total_cases per continent
max_con = covid_death.groupby('continent', as_index=False) \
                     .agg(max_cases=('total_cases', 'max'))

# 2. Compute total population per continent
pop_con = covid_death.groupby('continent', as_index=False) \
                     .agg(total_population=('population', 'sum'))

# 3. Merge them together
continent_stats = max_con.merge(pop_con, on='continent')

# 4. Calculate infection rate (%) at the worst point
continent_stats['infection_rate_pct'] = (
    continent_stats['max_cases'] 
    / continent_stats['total_population'] 
    * 100
)

print(continent_stats)

       continent   max_cases  total_population  infection_rate_pct
0         Africa   1581210.0      5.259286e+11            0.000301
1           Asia  19164969.0      1.957977e+12            0.000979
2         Europe   5677835.0      3.138499e+11            0.001809
3  North America  32346971.0      2.459497e+11            0.013152
4        Oceania     29811.0      1.550027e+10            0.000192
5  South America  14659011.0      1.760012e+11            0.008329

In [19]:
# Continent level- max deaths
max_death_con = (
    covid_death.groupby(['continent'], as_index= False)
    ['total_deaths'].max()
    )

max_death_con

       continent  total_deaths
0         Africa       54350.0
1           Asia      211853.0
2         Europe      127775.0
3  North America      576232.0
4        Oceania         910.0
5  South America      403781.0

In [20]:
# Producs a concise, high level view of pandemic's impact total infections, total fatalities
# and overall mortality rate 
# Calculating Total cases, total deaths, and death percentage overall 

global_stats = pd.DataFrame({
    'total_cases': [covid_death['new_cases'].sum()],
    'total_deaths': [covid_death['new_deaths'].sum()]
})
global_stats['death_percentage'] = global_stats['total_deaths'] / global_stats['total_cases'] * 100

global_stats

   total_cases  total_deaths  death_percentage
0  150543658.0     3179985.0          2.112334

In [ ]:
# merge Covid_death and Vaccination Data

vaccine_data = pd.read_excel("CovidVaccinations.xlsx")

vaccine_data

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ARG,South America,Argentina,2020-01-01,1.0,1.0,0.000,0.000,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.200,27.700,NaN,5.000,76.67,0.845
1,MEX,North America,Mexico,2020-01-01,26.0,26.0,0.000,0.000,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.900,21.400,87.847,1.380,75.05,0.779
2,ARG,South America,Argentina,2020-01-02,36.0,37.0,0.001,0.001,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.200,27.700,NaN,5.000,76.67,0.845
3,MEX,North America,Mexico,2020-01-02,72.0,98.0,0.001,0.001,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.900,21.400,87.847,1.380,75.05,0.779
4,ARG,South America,Argentina,2020-01-03,4.0,41.0,0.001,0.000,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.200,27.700,NaN,5.000,76.67,0.845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85166,VNM,Asia,Vietnam,2021-04-30,NaN,NaN,NaN,NaN,NaN,NaN,...,6171.884,2.0,245.465,6.00,1.000,45.900,85.847,2.600,75.40,0.704
85167,OWID_WRL,NaN,World,2021-04-30,NaN,NaN,NaN,NaN,NaN,NaN,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
85168,YEM,Asia,Yemen,2021-04-30,NaN,NaN,NaN,NaN,NaN,NaN,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
85169,ZMB,Africa,Zambia,2021-04-30,NaN,NaN,NaN,NaN,NaN,NaN,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
85170,ZWE,Africa,Zimbabwe,2021-04-30,NaN,NaN,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [25]:
# Drop any duplicate (location, date) rows in each

covid_death = covid_death.drop_duplicates(subset=['location', 'date'])
vaccine_data = vaccine_data.drop_duplicates(subset=['location', 'date'])

# Merge on location and date (inner join keeps only macthing rows)

df= pd.merge(covid_death, vaccine, on =['location', 'date'], 
             how = 'inner', 
             suffixes= ('_death', '_vaccine')
             )

In [ ]:
# Sort for readability and times series operations

df = df.sort_values(['location', 'date']).reset_index(drop= True)

In [26]:
# Now df containes all covid death + vaccination columns with no duplicates
df

,continent_death,location,date,total_cases,new_cases,total_deaths,new_deaths,population,death_percentage,percent_population_infected,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Asia,Bangladesh,2021-04-08,666132.0,6854.0,9521.0,74.0,164689383.0,0.014293,0.004045,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632
1,Asia,Bangladesh,2021-04-11,684756.0,5819.0,9739.0,78.0,164689383.0,0.014223,0.004158,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632
2,Asia,Bangladesh,2021-04-12,691957.0,7201.0,9822.0,83.0,164689383.0,0.014195,0.004202,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632
3,Asia,Bangladesh,2021-04-25,745322.0,2922.0,11053.0,101.0,164689383.0,0.014830,0.004526,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632
4,Asia,Bangladesh,2021-04-26,748628.0,3306.0,11150.0,97.0,164689383.0,0.014894,0.004546,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Africa,Zimbabwe,2021-04-20,37875.0,16.0,1554.0,1.0,14862927.0,0.041030,0.002548,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
361,Africa,Zimbabwe,2021-04-21,37980.0,105.0,1555.0,1.0,14862927.0,0.040943,0.002555,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
362,Africa,Zimbabwe,2021-04-22,38018.0,38.0,1555.0,0.0,14862927.0,0.040902,0.002558,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
363,Africa,Zimbabwe,2021-04-23,38045.0,27.0,1556.0,1.0,14862927.0,0.040899,0.002560,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
364,Africa,Zimbabwe,2021-04-24,38064.0,19.0,1556.0,0.0,14862927.0,0.040879,0.002561,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [ ]:
# Test how vaccination pace related to COVID 19 mortality
# We need two core metrics
# 1. Mortality rate ( Daily Deaths per 100k population)
# 2. Vaccination Coverage (e.g. cummulative full vaccinated people/population *100

# Once computed, we can verify
# Overall correlation: Across all country -days, do higher vaccination
# levels coincide with lower mortality rates?
# High Vs low comparison: On days when a country's vaccine coverage was above X%, how did it's average death rate compare
# to days below X%?


# Calculating mortality rate per 100k population 
df['death_rate_per_100k'] = df['new_deaths']/df['population'] * 1000000


# Vaccination coverage %(Fully Vaccinated)
df['vax_coverage_pct'] = (df['people_fully_vaccinated']/ df['population'] * 100)

In [28]:
df

,continent_death,location,date,total_cases,new_cases,total_deaths,new_deaths,population,death_percentage,percent_population_infected,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,death_rate_per_100k,vax_coverage_pct
0,Asia,Bangladesh,2021-04-08,666132.0,6854.0,9521.0,74.0,164689383.0,0.014293,0.004045,...,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632,0.449331,0.049380
1,Asia,Bangladesh,2021-04-11,684756.0,5819.0,9739.0,78.0,164689383.0,0.014223,0.004158,...,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632,0.473619,0.232994
2,Asia,Bangladesh,2021-04-12,691957.0,7201.0,9822.0,83.0,164689383.0,0.014195,0.004202,...,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632,0.503979,0.317322
3,Asia,Bangladesh,2021-04-25,745322.0,2922.0,11053.0,101.0,164689383.0,0.014830,0.004526,...,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632,0.613276,1.412882
4,Asia,Bangladesh,2021-04-26,748628.0,3306.0,11150.0,97.0,164689383.0,0.014894,0.004546,...,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.632,0.588988,1.492642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Africa,Zimbabwe,2021-04-20,37875.0,16.0,1554.0,1.0,14862927.0,0.041030,0.002548,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,0.067281,0.247448
361,Africa,Zimbabwe,2021-04-21,37980.0,105.0,1555.0,1.0,14862927.0,0.040943,0.002555,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,0.067281,0.251397
362,Africa,Zimbabwe,2021-04-22,38018.0,38.0,1555.0,0.0,14862927.0,0.040902,0.002558,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,0.000000,0.294209
363,Africa,Zimbabwe,2021-04-23,38045.0,27.0,1556.0,1.0,14862927.0,0.040899,0.002560,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,0.067281,0.311197
364,Africa,Zimbabwe,2021-04-24,38064.0,19.0,1556.0,0.0,14862927.0,0.040879,0.002561,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,0.000000,0.320334

In [30]:
# Overall correlation

# Pearson Correlation

corr = df[['vax_coverage_pct', 'death_rate_per_100k']].corr().iloc[0,1]
print(f"Correlation between vaccine coverage and death rate: {corr:.2f}")

Correlation between vaccine coverage and death rate: 0.03